<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899219304290-osbk7ln27mijvirf98uq5db8injt3rf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899219304290-osbk7ln27mijvirf98uq5db8injt3rf4</string>
	<key>API_KEY</key>
	<string>AIzaSyCQaJRlj0-SQuN_z-bO9bH5y79PqHk8RXM</string>
	<key>GCM_SENDER_ID</key>
	<string>899219304290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudNots</string>
	<key>PROJECT_ID</key>
	<string>mynotes-crud</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-crud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899219304290:ios:a3b0ac0c95073f123dc63b</string>
</dict>
</plist>